section.hero-banner {
    background: url('../../assets/img/page-brands/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}


section.partner-brands .group {
    display: grid;
}

section.partner-brands .group img {
    border-radius: 20px;
    width: 100%;
}

section.partner-brands .content {
    max-width: 744px;
}

section.partner-brands .owl-nav {
    display: none;
}

section.partner-brands .owl-dots {
    display: flex !important;
    justify-content: center;
}

section.partner-brands .owl-dot span {
    opacity: 1 !important;
    margin: 0 !important;
}

section.partner-brands .owl-dot.active span {
    background: #96CE47 !important;
}

section.partner-brands .owl-dot:not(.active) span {
    background: #D9D9D9 !important;
}

section.partner-agency,
section.project {
    background: url('../../assets/img/page-brands/partner-agency.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

section.partner-agency .agency {
    display: grid;
}

section.partner-agency .agency .image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
}

section.partner-agency .agency .image:hover img {
    transform: scale(1.1);
}

section.partner-agency .agency img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

section.partner-agency .desc {
    max-width: 856px;
    margin: auto;
    text-align: center;
}

section.partner .d-flex {
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

section.partner .content {
    max-width: 770px;
}

section.partner .logo {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
}

section.partner .logo .image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
}

section.partner .logo .image:hover img {
    transform: scale(1.1);
}

section.partner .logo img {
    width: 100%;
    transition: .4s;
}


section.project img {
    width: 100%;
}

section.project button {
    height: 50px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #96CE47;
    background: none;
    color: #F2F7E0;
    font-weight: 500;
    text-transform: uppercase;
}

section.project button:hover {
    border: none;
    padding: 14px 26px;
    background: linear-gradient(90deg, #587E22 0%, #96CE47 100%);
}

section.seeding .image_section {
    display: flex;
    gap: 24px;
}

section.seeding .images {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.seeding .images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

section.contact .content-box {
    background: url('../../assets/img/page-brands/contact-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    padding: 60px;
    border-radius: 20px;
    min-height: 495px;
}

section.contact .content-box .image {
    position: absolute;
    bottom: 0;
}

section.client {
    background: url('../../assets/img/page-brands/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

section.client button {
    height: 50px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #96CE47;
    background: none;
    color: #F2F7E0;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
}

section.client button:hover {
    border: none;
    padding: 14px 26px;
    background: linear-gradient(90deg, #587E22 0%, #96CE47 100%);
}

section.client .brand-logo {
    display: grid;
}

section.client .image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
}

section.client .image img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

section.client .desc {
    max-width: 802px;
    margin: auto;
    text-align: center;
}

@media (min-width:1367px) {
    section.contact .content-box .image {
        left: 0;
    }
}

@media (max-width:1366px) {
    section.contact .content-box {
        overflow-x: clip;
    }

    section.contact .content-box .image {
        left: -100px;
    }
}

@media (min-width:1200px) {

    section.hero-banner ._content {
        gap: 60px;
    }

    section.partner-brands .d-flex {
        gap: 60px;
        align-items: center;
        justify-content: space-between;
    }

    section.partner-brands #brands {
        max-width: 729px;
    }

    section.partner-brands .content {
        margin: auto 0 auto auto;
    }

    section.partner-agency .agency {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    section.client .brand-logo {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    section.partner .logo {
        width: max-content;
        max-width: 660px;
    }

    section.project button {
        margin: 60px auto auto;
    }

}


@media (max-width:1199px) {

    section.hero-banner ._content {
        gap: 40px;
    }

    section.partner-brands .d-flex {
        gap: 40px;
        flex-direction: column-reverse;
    }

    section.partner-brands .content {
        margin: auto;
        text-align: center;
    }

    section.partner .d-flex {
        flex-direction: column;
        text-align: center;
    }

    section.project button {
        margin: 50px auto auto;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    section.partner-agency .agency {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    section.partner-agency .agency> :nth-child(21) {
        grid-column: 1 / 5;
        justify-self: center;
        width: 22.852%;
    }

    section.client .brand-logo {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:992px) {

    section.hero-banner ._content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section.hero-banner ._content .desc {
        max-width: 774px;
    }

    section.hero-banner ._content .cta a {
        width: max-content;
    }

    section.partner-brands .group {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    section.contact .content-box {
        padding: 60px;
    }

    section.contact .content-box .content {
        width: 60% !important;
    }

}

@media (max-width:991px) {

    section.hero-banner ._content {
        text-align: center;
        margin-bottom: 0 !important;
    }

    section.hero-banner ._content img {
        margin-bottom: 20px;
        border-radius: 20px;
    }

    section.hero-banner ._content .cta a {
        margin: auto;
    }

    section.partner-brands .group {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section.partner-agency .agency {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    section.client .brand-logo {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section.contact .content-box {
        padding: 30px;
    }

    section.contact .content-box .image {
        left: -200px;
    }
}

@media (min-width:768px) {

    section.client .brand-logo,
    section.partner-agency .agency,
    section.partner-brands .group,
    section.partner .logo {
        gap: 30px;
    }

    section.partner-brands .owl-dots {
        margin-top: 50px !important;
        gap: 15px;
    }

    section.partner-brands .owl-dot span {
        width: 16px !important;
        height: 16px !important;
    }

    section.project .col-image:not(:last-of-type) {
        margin-bottom: 30px;
    }

    section.project .d-flex.col-image button {
        display: none;
    }

    section.project .d-flex {
        gap: 30px;
    }

    section.project .col-image:last-of-type .image {
        max-width: 30%;
    }

    section.contact .content-box .content {
        max-width: 855px;
        width: 55%;
        margin: auto 0 auto auto;
    }
}


@media (max-width:767px) {

    section.client .brand-logo,
    section.partner-brands .group,
    section.partner-agency .agency,
    section.partner .logo {
        gap: 20px;
    }

    section.partner-brands .owl-dots {
        margin-top: 35px !important;
        gap: 12px;
    }

    section.partner-brands .owl-dot span {
        width: 13px !important;
        height: 13px !important;
    }

    section.project .d-flex {
        flex-direction: column;
    }

    section.project .d-flex .image:not(:last-of-type) {
        margin-bottom: 30px;
    }

    section.project button {
        width: 100%;
        max-width: 300px;
        margin: 10px auto auto;
    }

    section.project button#loadMore {
        display: none;
    }

    section.seeding .image_section {
        gap: 30px;
        flex-direction: column;
    }

    section.contact .content-box {
        align-items: center;
    }

    section.contact .content-box .image {
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -80px;
        text-align: center;
        border-radius: 100%;
        width: 100%;
        max-width: 454px;
        max-height: 454px;
        display: flex;
        justify-content: center;
    }

    section.contact .content-box .image img {
        border-radius: 100%;
    }

    section.contact .content-box .content {
        margin-top: 380px;
        text-align: center;
    }

    section.contact .content-box .content a {
        margin: 30px auto auto;
    }
}

@media (min-width:390px) {
    section.partner.brands .logo {
        grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    }

    section.partner.brands .logo .image:nth-of-type(1) {
        grid-area: 1 / 1 / 3 / 3;
    }

    section.partner.brands .logo .image:nth-of-type(2) {
        grid-area: 1 / 3 / 3 / 5;
    }

    section.partner.brands .logo .image:nth-of-type(3) {
        grid-area: 1 / 5 / 3 / 7;
    }

    section.partner.brands .logo .image:nth-of-type(4) {
        grid-area: 3 / 2 / 5 / 4;
    }

    section.partner.brands .logo .image:nth-of-type(5) {
        grid-area: 3 / 4 / 5 / 6;
    }

    section.partner:not(.brands) .logo {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:389px) {

    section.partner .logo,
    section.partner-brands .group {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    section.client .brand-logo,
    section.partner-agency .agency {
        grid-template-columns: 1fr 1fr;
    }

    section.partner.brands .logo .image:nth-of-type(5),
    section.partner-agency .agency> :nth-child(21) {
        grid-column: 1 / 3;
        justify-self: center;
        width: 47%;
    }
}